img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}


/* NAVBAR */
.topnav{
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	position: fixed;

}
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}

.topnav a.active{
	font-weight: bold;
}
.nav-right{
	float: right;

}


.container {
	float: left;
	margin-top: 300px;
	background: #0f0f0f;
	display: flex;
	height: 170px;
	overflow-x: scroll;
}
.bar1{
	margin-top: 160px;
	height: 5px;
	width: 400px;
	background: #afcd52;
	border-radius: 5px;

}

.bar2{
	margin-top: 150px;
	height: 5px;
	width: 300px;
	background: #f19a38;
	border-radius: 5px;
	
}

.bar3{
	margin-top: 140px;
	height: 5px;
	width: 300px;
	background: #71c1ee;
	border-radius: 5px;

}

.bar4{
	margin-top: 130px;
	height: 5px;
	width: 300px;	
	background: #cb4822;
	border-radius: 5px;

}

.bar5 {
	margin-top: 120px;
	height: 5px;
	width: 300px;	
	background: yellow;
	border-radius: 5px;
}
.bar6 {
	margin-top: 110px;
	height: 5px;
	width: 300px;	
	background: lightblue;
	border-radius: 5px;
}
.bar7 {
	margin-top: 100px;
	height: 5px;
	width: 300px;	
	background: #FF0000;
	border-radius: 5px;
}
.bar8 {
	margin-top: 90px;
	height: 5px;
	width: 300px;	
	background: lightgreen;
	border-radius: 5px;
}
.bar9 {
	margin-top: 80px;
	height: 5px;
	width: 300px;	
	background: yellow;
	border-radius: 5px;
}
.bar10 {
	margin-top: 70px;
	height: 5px;
	width: 300px;	
	background: pink;
	border-radius: 5px;
}




.yearline {
	float: left;
	margin-top: 40px;
	height: 1px;
	background: grey;
	width: 3100px;
}

.year{
	position: relative;
	bottom: 80px;
	
	color: white;
}
.style{
	color: #afcd52;
}

.style2{
	color: #f19a38;;
}
.style3{
	color: #71c1ee;
}
.style4{
	color: #cb4822;
}


.Date{
	margin-top: 0px;
	color:	white;
	font-size: 30px;


}

.date2{
	margin-left: 285px;
}

.date3{
	margin-left: 530px;
}
.date4{
	margin-left: 830px;
}

li {
	display: inline-flex;
}

body{
	background-color: #0f0f0f;
	width: 3100px;
}
*{
	font-family: foco, sans-serif;
	font-style: normal;
	font-weight: 400;
}