
#topdiv {
	border: 5px solid white;

}

body {
	background: #0E0B01;
}

h1 {
	color: #A239CA;
	
}

h3 {
	color: #A239CA;
}

* {
	color: #E7DFDD;
	font-family: 'PT Mono', monospace;
}

#links {
	margin-left: 20px;
	color: orange;

}


#bottom {
	height: 20px;
	background-color: orange;
}

li {
	margin-bottom: 10px;
}
