.row {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
position:absolute;
left:0;
right:0;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 50%;
 

}

.column img {
  vertical-align: middle; 

}
img	{
	width: 100%;
	  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

	 
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.imagelinks{
	float: right;
	 margin: 0 auto;
  max-width: 1000px;

}

img:hover {
	opacity: 0.3;
	
}
/* IMAGE STYLING */
.wrap{
	position: relative;
	
}
.img__description{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  }

  .overlay {
  	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  }
  .wrap:hover .overlay {
  opacity: .8;
}

/* NAVBAR */
.topnav{
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
}

.topnav a{
	float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
#social{
	height: 50px;
  width: 50px;
}

.topnav a.active{
	font-weight: bold;
}

.nav-right{
	float: right;
}
#mainpage {
	float:right;
}




body {
	background-color: white;
	
}
#toplink{
	color: black;
}

h1 {

	color: black;
	margin-left: 15px;
	
}
h2 {
	color: black;
	margin-left: 15px;
	display: inline;
}

h3 {
	color: #5faa9c;
}

* {

	
	font-family: 'PT Mono', monospace;

}




#bottom {
	height: 20px;
	background-color: #5faa9c;
	
}

#copyright {
	margin-left: 30px;
}

li {
	margin-bottom: 10px;
}
